.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(0,0,0,0.3);
    backdrop-filter: blur(5px);
}
.container {
    width: 30vw;
    height: 18vw;
    padding: auto;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

    div {
        gap: 20px;
    }
    p {
        font-size: 1.6vw;
        font-weight: 600;
        line-height: 2vw;
    }
}
.button_container {
    width: 22vw;
    height: 3vw;
    justify-content: center;
    align-items: center;
    background-color: rgba(217, 217, 217, 0.5);
    border-radius: 50px;
    cursor: pointer;

    div {
        width: 1.5vw;
        height: 1.5vw;
    }
    img {
        @extend div
    }
    p {
        font-size: 1.3vw;
        line-height: 36px;
        font-weight: 800;
    }
}