$font_color: #777777;
$search_color: #D9D9D9;
$orange: #F78736;

.hd_container {
    width: 100vw;
    justify-content: space-between;
    padding: 0 5vw;
}

.search_container {
    justify-content: center;

    div {

        gap: 5px;

        img {
            width: 40px;
            cursor: pointer;
        }
    }
    input {
        width: 45vw;
        color: $search_color;
        border: none;
        font-size: 24px;

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: $search_color;
        }
    }

    hr {
        width: 50vw;
        align-content: flex-start;
        border: 1px solid $search_color;
    }

}

.Logo {
    padding: 10px;

    img {
        width: 100px;
    }
}

.nav_container {
    width: 150px;
    padding: 0 10px;
    font-size: 20px;
    align-items: center;
    justify-content: space-between;

    p {
        color: $font_color;
        cursor: pointer;
    }
}

@media (max-width: 800px) {
    .hd_container {
        width: 100%;
        position: relative;
        justify-content: center;
        
    }
    .search_container {
        justify-content: left;
        padding: 5px 10px;
        margin: 10px 30px;
        border: 1px solid $orange;
        border-radius: 50px;
        input {
            width: 100%;
        }
    }
    .Icon {
        position: absolute;
        right: 10px;
        align-self: center;
        cursor: pointer;
        img {
            width: 40px;
        }
    }
  }